<h1>Welcome <%= current_user.name %></h1>
<p>Not you? <%= link_to :logout, logout_path %>
  <%= button_to "New Note", new_note_path, method: :get, id: "new-note" %>
  <section id="notes">
    <% @notes.each do |note| %>
      <%= render "note", note: note %>
    <% end %>
  </section>
