$ui-gray-dark: #2d3436;
$ui-gray-med: #b2bec3;
$ui-gray-light: #dfe6e9;

$ui-green-light: #55efc4;
$ui-green-dark: #00b894;

$ui-yellow-light: #ffeaa7;
$ui-yellow-dark: #fdcb6e;

$ui-blue-light: #74b9ff;
$ui-blue-dark: #0984e3;

$ui-background-yellow: $ui-yellow-light;
$ui-background-light: $ui-gray-light;
$ui-background-dark: $ui-gray-dark;
