@import "globals";

.flash {
  font-size: 18px;
  padding: 10px;
  position: fixed;
  bottom: 10px;
  width: 90%;
  z-index: 9999;
  background-color: $ui-background-light;

  @media only screen and (min-width: 768px) {
    bottom: auto;
    width: auto;
    position: absolute;
    top: 10px;
    right: 150px;
  }

  &.flash-notice {
    color: green;
    border: 1px solid green;
  }

  &.flash-alert {
    color: red;
    border: 1px solid red;
  }
}
