.flash {
  font-size: 18px;
  padding: 10px;
  margin: 10px;
  position: absolute;
  top: 10px;
  right: 150px;

  &.flash_notice {
    color: green;
    border: 1px solid green;
  }

  &.flash_alert {
    color: red;
    border: 1px solid red;
  }
}
